.itemA{
    --background: #2dd36f;
    padding-left: 90px; 
    width: 250px;
    display: var(--displayA);
}
.itemT{
    --background: #2dd36f;
    padding-left: 90px; 
    width: 250px;
    display: var(--displayT);
}
.itemS{
    --background: #2dd36f;
    padding-left: 90px; 
    width: 250px;
    display: var(--displayS);
}